--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
python-doctr[torch]
opencv-python-headless
numpy<2.0.0
streamlit
pillow
openai
anthropic
python-dotenv
pytesseract
transformers
imutils
